/* Icons */
/* Icons in mobiles and desktop need to be the same size, that is why we us px */
  
  .icon--primary {
    fill: var(--color-primary);
  }
  
  .icon--white {
    fill: white;
  }

  .icon-container {
    background: #d2d2d2;
    border-radius: 100%;
    /* To put the background in the center */
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }



  @media screen and (min-width: 768px) {
    .icon {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
  }


  @media screen and (max-width: 768px) {
    .icon-container-git {
      background: #d2d2d2;
      width: 15px;
      height: 15px;
      border-radius: 100%;
      position: absolute;
    }

    .icon {
      margin-right: 10px;
      width: 25px;
      height: 25px;
    }

  }

